/***** HEADER *****/
nav {
	width: 100%;
	height: 50px;
	background-color: darkslategrey;
}

/***** BODY *****/

body {
	font-family: "Trebuchet MS", Verdana, sans-serif;
	font-size: 16px;
	padding: 3px;
}

#main {
	padding: 5px;
	padding-left:  15px;
	padding-right: 15px;
	background-color: #ffffff;
	border-radius: 0 0 5px 5px;
}

h1 {
	font-family: Georgia, serif;
	border-bottom: 3px solid #cc9900;
	color: #996600;
	font-size: 30px;
}

/* unvisited link */
a:link {
	color: #FF0000;
}

/* visited link */
a:visited {
	color: #00FF00;
}

/* mouse over link */
a:hover {
	color: #FF00FF;
}

/* selected link */
a:active {
	color: #0000FF;
}

/***** FOOTER *****/
footer {
	margin: 50px;
	background-color: blue;
	color: white;
}
